@charset "ISO-8859-1";

body {
    background-image: url('/carshow.jpeg');
     background-size: cover; 
}
h1{
	color:darkred;
	font-size: 100px;
	text-align:center;
	font-style: italic;
	font-family: Georgia, Times, serif;
	margin-top:20px;
}


p{
	color:yellow;
	font-size: 35px;
    font-style: italic;
	font-family: Georgia, Times, serif;
}